.bookshelf{
    @include cardHolderCommon;
    
    &__container {
        @extend .bookshelf;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        max-width: $main--max-width;
        margin: auto;
        padding: 2vw;
    }
}

.grey-background {
    background-color: $main--page-background-color;
}