.book-form {
    @include cardHolderCommon;

    &__container {
        @extend .book-form;
        @extend %card__container;
    }

    &__card {
        @include cardCommon;
        @extend %card__fullPageCard;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        max-width: $main--desktop-width;

        $book-form--grid-template:
            "header             header         header"
            "label-title        title          coverimg"
            "label-author       author         coverimg"
            "label-synopsis     synopsis       coverimg"
            "label-publishPage  publishPage    addimg"
            "label-rating       rating         ."       
            "buttons            buttons        buttons" auto / 0.5fr 2fr 1fr;

        @include until($main--desktop-width) {
            min-width: 50%;
        }
    
        @include atleast($main--desktop-width) {
            @include generateGrid($main--desktop-width, $book-form--grid-template);
            min-width: $main--tablet-width;
            gap: 15px;
            max-width: $main--desktop-width;
        }
    }

    &__label {

        text-align: center;
        @include until($main--desktop-width) {
            padding: 20px 0 5px 0;
        }

        &--title {
            @extend .book-form__label;
            grid-area: label-title;
        }

        &--author {
            @extend .book-form__label;
            grid-area: label-author;
        }

        &--synopsis {
            @extend .book-form__label;
            grid-area: label-synopsis;
        }

        &--rating {
            @extend .book-form__label;
            grid-area: label-rating;
        }

        &--publishDate {
            @extend .book-form__label;
            grid-area: label-publishPage;
        }
        
        &--pageCount {
            padding: 10px;
            @include atleast($main--desktop-width) {
                margin-left: auto;
                padding: 0 10px 0 50px;
            }
        }
    }

    &__item {
        @extend %card__item;
        @include flex-column();
        @include atleast($main--desktop-width) {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        margin: 10px 0 10px;
    }

    &__publishPage {
        @extend .book-form__item;
        grid-area: publishPage;
        width: 100%;
    }

    &__coverset {
        @extend .book-form__item;
        @include flex-column(space-around);
        justify-content: flex-start;
        grid-area: coverimg;
        height: 100%;
        margin: 10px;
        padding: 10px;
    }

    &__header {
        grid-area: header;
        margin: auto;
    }

    &__title {
        @extend .book-form__item;
    }

    &__author {
        @extend .book-form__item;
    }

    &__synopsis {
        @extend .book-form__item;
    }

    &__rating {
        @extend %card__rating;
        text-align: left;
        margin-bottom: 10px;
    }

    &__coverimg {
        @extend %card__coverimg;
        grid-area: coverimg;
        height: 300px;
        margin: 0 10px 10px;
        box-sizing: border-box;
        background-color: $main--page-background-color;
        justify-self: center;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        @include until($main--desktop-width) {
            margin: 20px;
            height: unset;
            max-height: 300px;
            max-width: 50%;
        }
    }

    &__addimg {
        @extend .btn--secondary;
        grid-area: addimg;
        border: 2px solid transparent;
        min-width: 0;
        max-width: unset;
        width: 200px;
        margin: 0;
        @include atleast($main--desktop-width) {
            margin: auto;
        }
    }

    &__textbox {
        border-radius: $textbox-border-radius;
        border: 1px solid $card--textbox-border-color;
        padding: 8px;
        width: 100%;
        font-family: $font-stack-sans;
        box-sizing: border-box; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        &--title {
            grid-area: title;
            @extend .book-form__textbox;
        }

        &--author {
            grid-area: author;
            @extend .book-form__textbox;
        }

        &--synopsis {
            @extend .book-form__textbox;
            flex: 1 0;
            min-height: 200px;
            grid-area: synopsis;
            vertical-align: text-top;
            align-self: flex-start;
        }
    }

    &__input {
        @extend .book-form__textbox;

        &--publishDate {
            @extend .book-form__input;
            max-width: 130px;
            text-align: center;
        }

        &--pageCount {
            @extend .book-form__input;
            max-width: 130px;
            margin: 0;
        }
    }

    &__controls {
        @extend %card__bottomControls;
        grid-area: buttons;
    }
}