.bookshelf-card {
    width: 200px;
    height: 300px;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: 10px 10px 15px 5px #ddd;
    background-color: white;
    background-image: linear-gradient(to bottom right, #fff, rgba(250,250,250,1.0));
    @include cardHighlight();
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &:hover, &:active, &:focus {
        background-image: none;
        border: 1px solid #888;
        box-shadow: 10px 10px 20px 10px #ddd;
        @include cardHighlight();
    }

    &__coverimg {
        

        border-radius: 10px;

        display: block;

        // background-image: url('../images/placeholder-cover.png');
        // background-position: center center;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-color: transparent;

        background: no-repeat url('../images/placeholder-cover.png') 50% / 100%;
    }

    // &__coverimg:after {
    //     display: block;
    //     content: "";
    //     width: 67%;
    //     border: 1px solid black;
    //     align-self: center;
    //     text-align: center;
    // }

    &__title:after {
        display: block;
        content: "Brave New World";
        color: black;
    }

    &__author, &__author:after {

        content: "Aldous Huxley";
    }
}