.book-form {
    @include cardHolderCommon;

    &__container {
        @extend %card__container;
    }

    &__card {
        @include cardCommon;
        @extend %card__fullPageCard;
        margin-top: 5rem;

        &--publishPage {
            @include flex-column();
            grid-area: publishPage;
        }

        &--coverset {
            @include flex-column();
            grid-area: coverimg
        }

        $book-form--grid-template:
            "header         header"
            "title          coverimg"
            "author         coverimg"
            "synopsis       coverimg"
            "publishPage    coverimg"
            "rating         ."
            "buttons        buttons" auto / 2fr 1fr;

        @include atleast($main--desktop-width) {
            @include generateGrid($main--desktop-width, $book-form--grid-template);
        }
    }

    &__item {
        @extend %card__item;

        

    }
}