.btn {
    display: flex;
    flex-direction: column;
    
    color: $btn--default-text-color;
    background-color: $btn--default-background-color;
    
    font-family: $btn--default-font-family;
    font-size: $btn--default-font-size;

    border: 2px hidden;
    border-radius: $btn--default-border-radius;
    padding: $btn--default-padding-y $btn--default-padding-x;
    text-align: center;
    justify-content: center;

    min-width: 5rem;
    max-width: 25rem;

 
    cursor: pointer;
    border: 2px solid transparent;

    & a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
    }
        
    &:hover {
        background-color: $btn--default-hover-background-color;
        color: $btn--default-hover-text-color;
        border: 2px solid $btn--default-hover-border-color;
        @include glow(4px, $btn--default-hover-text-color);
    }

    &--secondary {
        background-color: $btn--secondary-background-color;
    }
    
    &__navbar {
        color: $btn__navbar-color-inactive;
        background-color: transparent;
        white-space: nowrap;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 4px solid transparent;

        &--search {
            display: inline-block;
            margin: 0 1vw;
            background-color: $header-background-color;
            border: 2px solid $btn--default-background-color;
            font-weight: 700;
            font-size: 0.75rem;
            padding: 5px;
            
            &:hover {
                background-color: $btn--default-background-color;
                border: 2px solid transparent;
            }
        }

        &:hover {
            color: $btn__navbar-hover-background-color;
            background-color: transparent;
            border: 2px solid transparent;
        }

        &--active, &--active:hover{
            border-radius: 0;
            border-bottom: 4px solid $btn--default-hover-text-color;
        }


    }

}
