.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: $main--max-width;
    justify-content: space-between;
    align-items: center;
    color: white;

    @include until($main--phone-width) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__badge {
        display: block;
        margin: auto 0 auto 0;
        font-family: $navbar__badge-font-family;
        font-size: $navbar__badge-font-size;
        font-variant: small-caps;
        font-weight: 400;
        color: $navbar__badge-text-color;
        border: 0px solid white;
        background-color: transparent;
        overflow: hidden;
        white-space: nowrap;
        min-width: 230px;
        padding: 0 10px;
        
        &:hover, &:active {
            @include glow(10px, $navbar__badge-text-color);
            background-color: transparent;
            border: 0px solid transparent;
        }
    }

    &__menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        @include until($main--tablet-width) {
            display: none;
        }

        @include until($main--desktop-width) {
            justify-content: space-evenly;
        }
    }

    & li {
        display: block;
    }

    &__search {
        display: flex;
        align-items: center;
        align-self: center;
        margin-right: 1vw;

        @include until($main--phone-width) {
            display: none;
        }

        @include until($main--tablet-width) {
            margin-right: 0;
        }
    }

    &__search--input {
        display: inline;
        align-self: baseline;
        min-width: 150px;
        border-radius: $textbox-border-radius;
        padding: 6px;
        border: 1px solid $navbar__search--input-border-color;
        margin: 10px 0;

    }

    &__hamburger {
        display: block;
        padding: 4px 9px;
        margin: 10px 10px;
        align-self: center;
        border: 2px solid $btn__navbar--search-border-color;
        border-radius: 5px;
        color: white;
        font-family: $font-stack-sans;
        cursor: pointer;
        

        @include atleast($main--tablet-width) {
            display: none;
        }
    }
}

