h1 {
    font-size: 3em;
    font-style: italic;
    padding: 0 0 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

    @include until($main--phone-width) {
        font-size: 30px;
        padding-bottom: 1vw;
    }

    @include between($main--phone-width, $main--desktop-width) {
        font-size: 40px;
    }

}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}